*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    
}

.back{
    background-color: white;
    margin:5rem 15rem 15rem;
    padding:8rem;
    position:relative;
    border-radius: 20px;

}

.box{
    position:absolute;
    height:550px;
    width:330px;
    background-color:#39B598;
    border:1px solid #39B598;
    top:0rem;
    left:0rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sign{
    position:absolute;
    color:white; 
    top:19rem; 
    left:4.5rem; 
    font-size:14px;
    display:inline-block;
    padding:10px 45px;
    text-decoration: none;
    border:2px solid white;
    border-radius: 30px;
    font-weight:550;
    
}
input{
    padding:12px 30px;
    background-color:#F3F8F7;

    width:45%;
    margin-top:10px;
    color:#F3F8F7;
    margin-left: 2rem;
}

.usign{
    position:absolute;
    background-color:teal; 
    color:white;
    top:24.5rem; 
    left:31.5rem; 
    font-size:14px;
    display:inline-block;
    padding:10px 45px;
    text-decoration: none;
    border:2px solid white;
    border-radius: 30px;
    font-weight:550;
}
